@font-face {
	font-family: 'RobotoMono';
	src: url('@/assets/fonts/RobotoMono-Regular.ttf') format('truetype'),
		url('@/assets/fonts/RobotoMono-Regular.woff2') format('woff'),
		url('@/assets/fonts/RobotoMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoMono';
	src: url('@/assets/fonts/RobotoMono-Medium.ttf') format('truetype'),
		url('@/assets/fonts/RobotoMono-Medium.woff2') format('woff'),
		url('@/assets/fonts/RobotoMono-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Unbounded';
	src: url('@/assets/fonts/Unbounded-Regular.ttf') format('truetype'),
		url('@/assets/fonts/Unbounded-Regular.woff') format('woff'),
		url('@/assets/fonts/Unbounded-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Unbounded';
	src: url('@/assets/fonts/Unbounded-Medium.ttf') format('truetype'),
		url('@/assets/fonts/Unbounded-Medium.woff') format('woff'),
		url('@/assets/fonts/Unbounded-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Unbounded';
	src: url('@/assets/fonts/Unbounded-Bold.ttf') format('truetype'),
		url('@/assets/fonts/Unbounded-Bold.woff') format('woff'),
		url('@/assets/fonts/Unbounded-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}