@use '@/styles/reset';
@use '@/styles/variables';
@use '@/styles/fonts';
@use '@/styles/mixins' as mixins;

html {
  box-sizing: border-box;

  &.dark {
    @include mixins.theme-changes(variables.$black-color, variables.$white-color);
  }

  &:not(.dark) {
    @include mixins.theme-changes(variables.$white-color, variables.$black-color);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'RobotoMono';
  line-height: 1.4;
  color: variables.$white-color;
}

#smooth-wrapper {
  position: fixed;
  inset: 0;
  overflow: hidden;
}

#smooth-content {
  min-height: 100vh;
  will-change: transform;
}

.wrapper {
  max-width: 1260px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}