@use './reset';
@use './variables';
@use './fonts';
@use './mixins' as mixins;


html {
  box-sizing: border-box;

  &.dark {
    @include mixins.theme-changes(variables.$black-color, variables.$white-color);
  }

  &:not(.dark) {
    @include mixins.theme-changes(variables.$white-color, variables.$black-color);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'RobotoMono';
  line-height: 1.4;
  color: variables.$white-color;
}