@use './reset';
@use './variables';
@use './fonts';


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Базовые глобальные стили, только для body
body {
  margin: 0;
  padding: 0;
  font-family: 'RobotoMono';
  line-height: 1.4;
  background-color: variables.$black-color; // здесь можно
  color: variables.$white-color;
}