@use './reset';
@use './variables';
@use './fonts';
@use './mixins' as mixins;

html {
  box-sizing: border-box;

  &.dark {
    @include mixins.theme-changes(variables.$black-color, variables.$white-color);
  }

  &:not(.dark) {
    @include mixins.theme-changes(variables.$white-color, variables.$black-color);
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'RobotoMono';
  line-height: 1.4;
  color: variables.$white-color;
}

.wrapper {
  max-width: 1260px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column  ;
  gap: 50px;
}