@use '@/styles/variables';

@mixin theme-changes($bg, $text) {
  body {
    background-color: $bg;
    color: $text;
  }
}

@mixin svg-theme($light, $dark) {
  fill: $dark;

  :global(html:not(.dark)) & {
    fill: $light;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pseudo($width: 100%,
  $height: 100%,
  $bg: null,
  $content: "",
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $display: block,
  $position: absolute) {
  content: $content;
  display: $display;
  position: $position;

  width: $width;
  height: $height;

  @if $bg !=null {
    background: $bg;
  }

  @if $top ==null and $right ==null and $bottom ==null and $left ==null {
    inset: 0;
  }

  @if $top !=null {
    top: $top;
  }

  @if $right !=null {
    right: $right;
  }

  @if $bottom !=null {
    bottom: $bottom;
  }

  @if $left !=null {
    left: $left;
  }
}