@use '@/styles/variables';
@use '@/styles/mixins' as mixins;

.main {
  position: relative;
  display: flex;
  width: 100%;
  background-color: variables.$gray-color;
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 40%;
  z-index: 2;
}

.title {
  color: variables.$white-color;
  font-size: 40px;
  font-family: 'RobotoMono';
  font-weight: 700;
}

.text {
  color: variables.$white-color;
  font-size: 16px;
  line-height: 1.8;
}

.mainlogotypes {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.svgLogotype {
  @include mixins.svg-theme(variables.$black-color, variables.$white-color );
  width: 180px;
  height: 180px;
}