@use '@/styles/variables';

.main {
  position: relative;
  display: flex;
  width: 100%;
  background-color: variables.$gray-color;
  border-radius: 20px;
  padding: 40px;
  overflow: hidden;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 40%;
  z-index: 2;
}

.title {
  color: variables.$white-color;
  font-size: 40px;
  font-family: 'Syne';
  font-weight: 700;
}

.text {
  color: variables.$white-color;
  font-size: 16px;
  line-height: 1.8;
}

.mainImage {
  position: absolute;
  z-index: 2;
  width: 200%;
  height: auto;
}