@use '@/styles/variables';
@use '@/styles/mixins' as mixins;

:local(.themeBtn) {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  font-size: 20px;
  cursor: pointer;
  line-height: 40px;
  transition: transform .3s ease;

  @include mixins.flex-center();

  &:hover {
    transform: scale(120%);
  }
}

:global(html.dark) :local(.themeBtn) {
  background-color: variables.$white-color;
}

:global(html:not(.dark)) :local(.themeBtn) {
  background-color: variables.$black-color;
}