@use '@/styles/variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0
  ;
}

.title {
  font-family: 'Syne';
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  text-decoration: none;
  color: inherit;
}


.navigationWrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}