@use '@/styles/variables';

.navigationLink {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 14px;
  overflow: visible;
  transition: color .25s ease;

  &:hover { color: variables.$base-color; }

  .navOutline {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: visible;
  }

  .navRect {
    fill: none;
    stroke: white;
    stroke-width: 1;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset 0.7s linear, stroke 0.25s ease;
    vector-effect: non-scaling-stroke;
  }

  &:hover .navRect {
    stroke: variables.$base-color;
    stroke-dashoffset: 0;
  }
}

.navigationLinkActive {
  .navRect {
    stroke-dashoffset: 0 !important;
    stroke: variables.$base-color !important;
  }
}
